# BYBIT API
BYBIT_API_KEY=your_api_key
BYBIT_API_SECRET=your_api_secret

# TESTNET or MAINNET
TESTNET=True

# TRADING
DEFAULT_SYMBOL=BTCUSDT
ORDER_QTY=0.001

# OPTIONAL SECURITY
WEBHOOK_SECRET=your_secret
