<!-- =====================================================
     VWAP SUPERTREND BOT DASHBOARD
===================================================== -->

<!DOCTYPE html>

<html>

<head>

<meta charset="UTF-8">


<title>
VWAP SUPERTREND BOT
</title>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<style>


body {

    background:#111;

    color:white;

    font-family:Arial;

    margin:20px;

}


.box {

    background:#222;

    padding:15px;

    margin-bottom:15px;

    border-radius:10px;

}


.title {

    font-size:22px;

    font-weight:bold;

}



.value {

    font-size:18px;

}



.green {

    color:#00ff88;

}


.red {

    color:#ff5555;

}


#logs {

    height:200px;

    overflow:auto;

    background:#000;

    padding:10px;

}



</style>


</head>


<body>



<div class="box">

<div class="title">

🚀 VWAP SUPERTREND BOT

</div>


<div id="bot">

Loading...

</div>


</div>





<div class="box">


<h3>
MARKET
</h3>


<div id="market">

</div>


</div>







<div class="box">


<h3>
POSITION
</h3>


<div id="position">

</div>


</div>







<div class="box">


<h3>
CHART
</h3>


<canvas id="chart">

</canvas>


</div>








<div class="box">


<h3>
SYSTEM LOG

</h3>


<div id="logs">

</div>


</div>









<script>


let chart;



function initChart(){


const ctx = document
.getElementById(
"chart"
)
.getContext(
"2d"
);



chart = new Chart(

ctx,

{

type:"line",


data:{


labels:[],


datasets:[

{

label:"BTC",

data:[]

}

]


},


options:{


responsive:true


}


}

);


}








async function update(){


try{


let res =
await fetch(
"/api/status"
);



let json =
await res.json();




let s =
json.status;






document
.getElementById(
"bot"
)
.innerHTML =


`

BOT :

<b>${s.bot}</b>

<br>

SYMBOL :

${s.symbol}

<br>

WATCHDOG :

${s.watchdog || "-"}

`;







document
.getElementById(
"market"
)
.innerHTML =


`

PRICE :

${s.price}

<br>

VWAP :

${s.vwap}

<br>

TREND :

${s.trend}

<br>

VOLUME :

${s.volume}

<br>

SIGNAL :

${s.signal}

`;








document
.getElementById(
"position"
)
.innerHTML =


`

POSITION :

${s.position}

<br>

ENTRY :

${s.entry}

<br>

SIZE :

${s.size}

<br>

PNL :

${s.pnl}

<br>

TP :

${s.tp}

<br>

SL :

${s.sl}

`;








let logs="";



json.logs.forEach(

l=>{

logs += l+"<br>";

}

);




document
.getElementById(
"logs"
)
.innerHTML = logs;







}

catch(e){


console.log(e);


}



}








async function updateChart(){


try{


let res =
await fetch(
"/api/chart"
);



let data =
await res.json();



if(!chart)
return;




chart.data.labels =
data.map(

x=>new Date(

x.time*1000

)
.toLocaleTimeString()

);



chart.data.datasets[0].data =
data.map(

x=>x.close

);



chart.update();



}

catch(e){



}



}








initChart();



setInterval(

update,

5000

);



setInterval(

updateChart,

5000

);



update();


</script>



</body>

</html>
